@model CreateGameFormVM

@{
    ViewData["Title"] = "Add Game";
}

<h5>
    <i class="bi bi-plus-circle"></i>
    Add a new game 
</h5>

<form asp-controller="Games">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"
                        data-placeholder="Select a category" data-minimum-results-for-search="Infinity">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4"> Add </button>
        </div>
        <div class="col-md-6"></div>
    </div>
</form>